<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="generator" content="Astro v5.9.2">
    <title>June Joseph</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../../images/junejosephlogoXSM.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../images/junejosephlogoXSM.png">
    <link rel="apple-touch-icon" href="../../images/junejosephlogoXSM.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/navbar-fixed/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-7qAoOXltbVP82dhxHAUje59V5r2YsVfBafyUDxEdApLPmcdhBPg1DKg1ERo0BZlK" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/content.css">
    <link rel="stylesheet" href="/styles/home-page.css">
    <link rel="stylesheet" href="/styles/layout.css">
</head>

<body>
    <div id="blogs-container">
        <div id="portal-header">
            <nav class="navbar navbar-expand navbar-light bg-white fixed-top">
                <div class="container">
                    <div class="logo-area my-navbar-logo">
                        <a class="navbar-brand" href="/"></a>
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mb-md-0 me-auto">
                            <li class="nav-item">
                                <a class="nav-link sbold-text" href="/user-portal/my-questions"><i class="bi bi-question-diamond top-icon"></i><span class=" hide-sm">My Questions</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link sbold-text" href="/user-portal/my-tickets"><i class="bi bi-bell top-icon"></i><span class=" hide-sm">My Tickets</span>
                                </a>
                            </li>
                            <% if (locals.user && user.permissions.includes("create:article")) { %>
                                <li class="nav-item">
                                    <a class="nav-link sbold-text" href="/user-portal/questions"><i class="bi bi-question-circle top-icon"></i><span class=" hide-sm">All Questions</span>
                                    </a>
                                </li>
                            <% } %>
                            <% if (locals.user && user.permissions.includes("update:user_role")) { %>
                                <li class="nav-item">
                                    <a class="nav-link sbold-text" href="/user-portal/subscriptions"><i class="bi bi-envelope top-icon"></i><span class="hide-sm"> Subscriptions</span>
                                    </a>
                                </li> 
                                <li class="nav-item">
                                    <a class="nav-link sbold-text" href="/user-portal/users"><i class="bi bi-people top-icon"></i><span class="hide-sm"> Accounts</span>
                                    </a>
                                </li> 
                                <li class="nav-item">
                                    <a class="nav-link sbold-text" href="/user-portal/settings"> <i class="bi bi-gear-fill top-icon" style="color: #008c8c;"></i><span class="hide-sm"> Settings</span>
                                    </a>
                                </li>
                            <% } %>
                            <li class="nav-item">
                                <a id="userDropdown" class="nav-link sbold-text" href="#profile-summary">
                                   <img src="/images/default-avatar.png" alt="User Profile" class="profile-icon user-avatar"><span class="hide-sm"> <%= user.firstName %></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="profile-summary" class="hidden-form">
                        <div class="dropdown-content">
                            <div class="right-text">
                                <button id="close-dropdown" type="button" class="button-orange red-text small-text bold-text">Close</button>
                            </div>
                            <div id="profileImg">
                                <img class="profile_img" src="/images/default-avatar.png" alt="<%=user.firstName %>'s image">
                            </div>
                            <div>
                                <p id="user-name" class="no-bm vbold-text"><%= user.firstName %> <%= user.lastName %></p>
                                <p id="user-email" class="no-bm regular-text smaller-text"><%= user.email %></p>
                            </div>
                            <hr class="no-bm">
                            <div id="profile-info" class="profile-dropdown">
                                <a class="nav-link regular-text" href="/user-portal/my-questions"><span class=" hide-sm">My Questions</span>
                                </a>
                                <a class="nav-link regular-text" href="/user-portal/my-tickets"><span class=" hide-sm">My Support Tickets</span>
                                </a>
                                <p id="profile-view" class="no-bm bold-text"></p>
                            </div>
                            <hr class="no-bm">
                            <p id="user-role" class="no-bm regular-text">Role: Registered <%= user.role %></p>
                            <hr class="no-bm">
                            <div class="d-grid vtiny-tbm">
                                <button id="edit-profile" type="button" class="nav-link button-green green-text small-text sbold-text vtiny-bm">Edit Profile</button>
                                <a id="portal-signout" class="nav-link button-orange bg-orange white-text small-text sbold-text" href="/signout">Sign Out</a>
                            </div>
                        </div>
                    </div>
                    <section id="profileEdit-form" class="large-bm hidden-form">
                        <div class="right-text">
                            <button id="close-profileEdit" type="button" class="button-orange red-text small-text bold-text">Close</button>
                        </div>
                        <div class="mainPost-form">
                            <h4 class="green-text vbold-text centered-text large-bm">Edit your profile</h4>
                            <hr class="large-bm">
                            <form id="create-post" class="form-body" action="/user-portal/profile/update" method="POST" enctype="multipart/form-data">
                                <div class="main-post">
                                    <div id="image-area">
                                        <div id="display-picture" class="xtiny-bm">
                                            <img id="profile-preview" 
                                                src="<%= user.profile_picture ? user.profile_picture : '/images/default-avatar.png' %>" 
                                                alt="Profile Picture" 
                                                class="profile-image">
                                        </div>
                                        <div id="upload-picture" class="form-group tiny-bm">
                                            <input type="file" class="form-control small-text sbold-text" name="profile_image" id="profile_image" accept=".jpg, .jpeg, .png">
                                        </div>
                                    </div>
                                    <div class="form-section">
                                        <div id="firstName" class="form-group vtiny-bm">
                                            <label for="first-name" class="form-label green-text vbold-text xtiny-bm">First Name</label>
                                            <input type="text" class="form-control bold-text" name="first-name" id="first-name" value="<%= user.firstName %>" required disabled>
                                        </div>
                                        <div id="lastName" class="form-group vtiny-bm">
                                            <label for="last-name" class="form-label green-text vbold-text xtiny-bm">Last Name</label>
                                            <input type="text" class="form-control bold-text" name="last-name" id="last-name" value="<%= user.lastName %>" required disabled>
                                        </div>
                                    </div>
                                    <div class="form-section">
                                        <div id="profileEmail" class="form-group vtiny-bm">
                                            <label for="profile-email" class="form-label green-text vbold-text xtiny-bm">Email Address</label>
                                            <input type="text" class="form-control bold-text" name="profile-email" id="profile-email" value="<%= user.email %>" required disabled>
                                        </div>
                                        <div id="profileGender" class="form-group vtiny-bm">
                                            <label for="gender" class="form-label green-text vbold-text xtiny-bm">Gender</label>
                                            <select name="gender" id="gender" class="form-select regular-text" required autofocus>
                                                <option value="">How do you identify?</option>
                                                <option value="female">Female</option>
                                                <option value="male">Male</option>
                                                <option value="neutral">Others</option>
                                            </select>
                                            <p class="smaller-text no-padding xtiny-tbm bold-text">This is important, some health conditions can be gender-specific.</p>
                                        </div>
                                    </div>
                                    <div class="form-section">
                                        <div id="birthDate" class="form-group vtiny-bm">
                                            <label for="birth-date" class="form-label green-text vbold-text xtiny-bm">Date of Birth</label>
                                            <input type="date" class="form-control regular-text" name="birth-date" id="birth-date" value="" placeholder="Your date of birth">
                                        </div>
                                        <div id="phoneNumber" class="form-group vtiny-bm">
                                            <label for="phone-number" class="form-label green-text vbold-text xtiny-bm">Phone Number</label>
                                            <input type="text" class="form-control regular-text" name="phone-number" id="phone-number" value="" placeholder="Your most relaible phone number">
                                        </div>
                                    </div>
                                    <div id="profileBio" class="form-group vtiny-bm">
                                        <label for="profile-bio" class="form-label green-text vbold-text xtiny-bm">Brief Bio</label>
                                        <textarea class="form-control" name="profile-bio" id="profile-bio" placeholder="Just a little bit about you"></textarea>
                                    </div>

                                    <% if (locals.user && user.permissions.includes("create:article")) { %>
                                        <hr class="large-bm">
                                        <div class="form-section">
                                            <div id="professionalTitle" class="form-group vtiny-bm">
                                                <label for="professional_title" class="form-label green-text vbold-text xtiny-bm">Professional Title</label>
                                                <input type="text" class="form-control" name="professional_title" id="professional_title" placeholder="How should you be addressed?" required>
                                            </div>
                                            <div id="specialization" class="form-group vtiny-bm">
                                                <label for="specialization_level" class="form-label green-text vbold-text xtiny-bm"> Specialization</label>
                                                <input type="text" class="form-control" name="specialization_level" id="specialization_level" placeholder="Level of specialization in your field." required>
                                            </div>
                                        </div>
                                        <div class="form-section">
                                            <div id="expertise" class="form-group vtiny-bm">
                                                <label for="field_of_expertise" class="form-label green-text vbold-text xtiny-bm">Field of Expertise</label>
                                                <input type="text" class="form-control" name="field_of_expertise" id="field_of_expertise" placeholder="Your field of expertise">
                                            </div>
                                            <div id="yearsExperience" class="form-group vtiny-bm">
                                                <label for="years_of_experience" class="form-label green-text vbold-text xtiny-bm"> Writer's Experience</label>
                                                <input type="text" class="form-control" name="years_of_experience" id="years_of_experience" placeholder="Length of practice in years">
                                            </div>
                                        </div>
                                    <% } %>
                                    <hr class="large-bm">
                                    <div id="blogForm-actions" class="tiny-bm">
                                        <div id="blogForm-right" class="actions-right">
                                            <button type="submit" id="save-profile" class="button-green bg-dark bold-text white-text no-border">Save Profile</button>
                                            <button type="reset" id="cancel-edit" class="button-orange sbold-text orange-text">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </nav>
        </div>
        <div id="portal-body">
            <section id="user-portal" class="portal-container">
                <div id="mySidebar" class="my-sidebar bg-dark">
                    <button id="closeBtn" class="close-btn button small-text white-text">Close</button>
                    <div id="portal-nav" class="large-tbm">
                        <a href="/user-portal/dashboard" class="xtiny-tbm">
                            <i class="bi bi-columns-gap side-icon"></i>Dashboard
                        </a>
                        <a href="/user-portal/articles" class="xtiny-tbm">
                            <i class="bi bi-file-text side-icon"></i>Articles
                        </a>
                        <a href="/user-portal/blog-posts" class="xtiny-tbm">
                            <i class="bi bi-journal-text side-icon"></i>Blog Posts
                        </a>
                        <a href="/user-portal/all-questions" class="xtiny-tbm">
                            <i class="bi bi-question-circle side-icon"></i>All Questions
                        </a>
                        <a href="/user-portal/my-questions" class="xtiny-tbm">
                            <i class="bi bi-question-diamond side-icon"></i>My Questions
                        </a>
                        <a href="/user-portal/subscriptions" class="xtiny-tbm">
                            <i class="bi bi-envelope side-icon"></i>Subscriptions
                        </a>
                        <a href="/user-portal/users" class="xtiny-tbm">
                            <i class="bi bi-people side-icon"></i>Registered Users
                        </a>
                    </div>
                </div>
                <div id="userPortalMain" class="user-portal-main">
                                        
        