<%- include("partials/portal-header.ejs") %>

<div class="crumbs-area">
    <button id="openBtn" class="open-btn vtiny-tm button-green bg-dark small-text white-text">Open</button>
    <h5 id="sectionTitle" class="section-title vbold-text vtiny-tm">Dashboard</h5>
    <p id="p-crumbs" class="hide-sm small-text no-wrap right-text">bread crumbs/bread crumbs/more crumbs</p>
</div>

<div id="portalMain" class="portal-main">
    <div id="dashContent" class="dash-content">
        <section id="welcome" class="dash-block">
            <div id="welcome-area">
                <div class="dash-info-greetings">
                    <div class="dash-numbers">
                        <h2 id="greetings" class="vbold-text no-wrap xtiny-tm"><%= greeting %></h2>
                        <h5 class="vbold-text">Welcome back</h5>
                    </div>
                    <i id="time-icon" class="bi <%= icon %> right-text <%= iconClass %>"></i>
                </div>
                <p id="dash-message" class="vbold-text orange-text no-bm xtiny-tm"><%= dashMessage %></p>
            </div>
            <div class="dash-link centered-text"></div>
        </section>
        <section id="dashArticles" class="dash-section">
            <div id="articlesSummary" class="dash-summary">
                <div class="dash-block">
                    <div id="articlesCount" class="dash-info">
                      <div class="dash-numbers">
                        <h2 class="vbold-text">300 </h2>
                        <p class="bold-text">Articles</p>
                      </div>
                      <i class="bi bi-file-text right-text dash-icon"></i>
                    </div>
                    <div class="dash-link centered-text">
                        <a href="/user-portal/articles" class="">More Info
                            <i class="bi bi-arrow-right-circle" style="margin-left: 0.2rem;"></i>
                        </a>
                    </div>
                </div>
                <div class="dash-block">
                    <div id="blogsCount" class="dash-info">
                      <div class="dash-numbers">
                        <h2 class="vbold-text">230 </h2>
                        <p class="bold-text">Blog Posts</p>
                      </div>
                      <i class="bi bi-journal-text right-text dash-icon"></i> 
                    </div>
                    <div class="dash-link centered-text">
                        <a href="/user-portal/blog-posts" class="bold-text">More Info
                            <i class="bi bi-arrow-right-circle" style="margin-left: 0.2rem;"></i>
                        </a>
                    </div>
                </div>
                <div class="dash-block">
                    <div id="questionsCount" class="dash-info">
                      <div class="dash-numbers">
                        <h2 class="vbold-text">3205 </h2>
                        <p class="bold-text">Questions</p>
                      </div>
                      <i class="bi bi-question-circle right-text dash-icon"></i> 
                    </div>
                    <div class="dash-link centered-text">
                        <a href="/user-portal/all-questions" class="bold-text">More Info
                            <i class="bi bi-arrow-right-circle" style="margin-left: 0.2rem;"></i>
                        </a>
                    </div>
                </div>
                <div class="dash-block">
                    <div id="usersCount" class="dash-info">
                      <div class="dash-numbers">
                        <h2 class="vbold-text">520 </h2>
                        <p class="bold-text">Registered Users</p>
                      </div>
                      <i class="bi bi-people right-text dash-icon"></i> 
                    </div>
                    <div class="dash-link centered-text">
                        <a href="/user-portal/users" class="bold-text">More Info
                            <i class="bi bi-arrow-right-circle" style="margin-left: 0.2rem;"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="dash-section"><p>Content...</p></section>
        <section class="dash-section"><p>Content...</p></section>
        <section class="dash-section"><p>Content...</p></section>
        <section class="dash-section"><p>Content...</p></section>
    </div>
</div>

<script id="dashboard-data" type="application/json">
    {
        "user": <%- JSON.stringify(user) %>,
        "messages": <%- JSON.stringify(dashboardMessages) %>
    }
</script>
<script src="/js/time-update.js"></script>

<%- include("partials/portal-footer.ejs") %>